<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to shopecart.com</h1>
    <p> You order is successfully placed for <%= @total_amount %> Rs. </p>
    <p>Thanks for placing the order</p>
  </body>
</html>