/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 69, 69);
}

li {
    float: left;
}

li a {
   display: block; 
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

#welcome {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.container {
    padding: 0 30px 0 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    color: grey;
    font-size: 22px;
}

.all-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: rgb(80, 69, 69);
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.pagination {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    // color: red;
    .form-control {
        border: 1px solid red;
    }
}
.error_message {
    color: red;
}

.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }