<% provide(:title, 'All Categories') %>
<h1 id="welcome">All Categories</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-md-auto">
            <%= link_to 'New Category', new_category_path, class: 'btn btn-primary',
            data: {bs_toggle: "modal", bs_target: "#createCategoryModal", remote: true} %>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody id="categoryTable">
                    <% @categories.each do |category| %>
                        <%= render 'category_row', category: category %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCategoryModalLabel">Create New Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div id="createCategoryForm"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCategoryModalLabel">edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div id="editCategoryForm"></div>
    </div>
  </div>
</div>