<% provide(:title, 'All Products') %>
<div class="container d-flex align-items-center mt-3 mb-3 justify-content-between">
    <h1>Products</h1>
    <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
        <div class="input-group rounded">
            <%= form.text_field :query, data: { action: "input->search-form#search"}, class: "form-control rounded", placeholder: "Search" %>
        </div>
    <% end %>
</div>

<div>
    <%= render "products", products: @products %>
</div>
